<section class="jumbotron">
  <div class="container text-center">
    <h1 class="h2 font-weight-bold">Leading marketplace for investing in loans</h1>
    <div>
      <p class="lead">
        Invest in loans and start earning passive income. Start from <br><strong>100 €</strong> to create your investment portfolio
      </p>
    </div>
    <button class="mt-4 btn btn-lg btn-success" routerLink="/projects">
      Start investing
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
        <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"/>
      </svg>
    </button>
  </div>
</section>

<section>
  <div class="container">
    <h2>About us</h2>
    <p>
      Wir führen den Wunsch nach Vermögenswachstum von Investoren mit den Finanzierungsbedürfnissen der Immobilienwirtschaft zusammen. Dabei verbinden wir die Erfahrung, Kompetenz und Leidenschaft der Immobilienbranche mit modernen digitalen Kanälen. Engel & Völkers Digital Invest wurde zunächst als Teil von Engel & Völkers Capital gegründet, welche bereits seit 2009 Immobilienprojekte mit einem Volumen von mehr als einer Milliarde Euro finanziert hat. Seit 2017 können sich auch Privatinvestoren über unsere Crowdinvesting-Plattform an ausgesuchten Immobilienprojekten beteiligen.
    </p>
  </div>
</section>


