<div class="media">
  <img src="{{ thumbnail }}"  width="64" height="64" class="mr-3">
  <div class="media-body">
    <h5 class="mt-0">{{ name }}</h5>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{ width: fundedPercent + '%' }" aria-valuemin="0"
           aria-valuemax="100">{{ fundedPercent  | number: '1.0-0' }}%</div>
    </div>
    <small>{{ amount | currency }} from {{ amountRequired | currency  }} financed ({{ fundedPercent  | number: '1.0-0' }}%)</small>
  </div>
</div>
